.friend_list {
  width: 200px;
  margin: 0 auto;

}

.status {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.label,
.percentage {
  margin: 5px 0;
  display: block;
  /* Додати відстань між <span> в стовпці */
}

.item {
  display: flex;
  /* Зробити кожен <li> стовпцем */
  align-items: center;
}

/* ============================= */
.online {
  background-color: green;
}

/* Визначення стилів для статусу "Офлайн" */
.offline {
  background-color: red;
}